rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    //Allow a user to access and edit their own data
    match /organisations/{organisation}/users/{user} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == user;
    }

    //Allow a user to read an organisations availability
    //for the selected request date
    match /organisations/{organisation}/availability/opperatingHours {
      allow read: if request.auth != null;
    }
    //Allow a user to read the bookedSchedule collection
    //for dates in the future
    match /organisations/{organisation}/bookedSchedule/{date} {
      allow read: if request.auth != null;
    }

    //Allow a user to read the services collection
    match /organisations/{organisation}/availability/services {
      allow read: if request.auth != null;
    }
  }
}