rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    //Allow a user to access and edit their own data
    match /organisations/{organisation}/users/{user} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == user;
    }

    //Allow a user to read an organisations bookedSchedule
    //for the selected request date
    match /organisations/{organisation}/bookedSchedule {
      allow read: if request.auth != null &&
      request.resource.data.selectedDate.toDate().toDateString() == resource.data.endTimestamp.toDate().toDateString();
    }
  }
}