/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; background-color: var(--primary-colour); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// In styles.scss or styles.css
.cdk-overlay-pane {
  @media only screen and (max-width: 600px) {
    top: 70px !important;
    left: auto !important;
    right: 0 !important;
    height: max-content !important;
    width: max-content !important; // adjust as necessary
  }
}