<mat-card class="schedule-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Booking {{data.schedule.bookingDateString}}</mat-card-title>
    <mat-card-subtitle>Customer: {{data.schedule.customerName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="viewType === 'overview' && !loading">
    <div>
      <p style="display: flex; align-items: center;">Status: {{data.schedule.status}}<mat-icon
          *ngIf="data.schedule.status === 'paid'" style="color: green;">paid</mat-icon></p>
    </div>
    <table class="styled-table">
      <tr>
        <th class="styled-table-header">Service</th>
        <th class="styled-table-header">Hours</th>
        <th class="styled-table-header">Rate</th>
        <th class="styled-table-header">Subtotal</th>
      </tr>
      <tr *ngFor="let service of data.dialogData.servicesTableData" class="styled-table-row">
        <td class="styled-table-data">{{service.serviceName}}</td>
        <td class="styled-table-data">{{service.hours}}</td>
        <td class="styled-table-data">{{service.rate}}</td>
        <td class="styled-table-data">$ {{service.total}}</td>
      </tr>
      <tr class="styled-table-row">
        <td class="styled-table-data"></td>
        <td class="styled-table-data"></td>
        <td class="styled-table-data"><strong>Total</strong></td>
        <td class="styled-table-data"><strong>$ {{data.dialogData.grandTotal}}</strong></td>
      </tr>
    </table>

  </mat-card-content>
  <mat-card-content *ngIf="viewType === 'refund' && !loading" style="display: flex; flex-direction: column;">
    <p>Are you sure you want to refund and cancel this appointment?</p>
  </mat-card-content>
  <mat-card-content *ngIf="loading"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
  </mat-card-content>
  <mat-card-actions style="display: flex; flex-wrap: wrap; column-gap: 10px;">
    <button *ngIf="viewType === 'overview' && data.schedule.status !== 'refunded' " mat-button
      (click)="viewType = 'refund'">Refund</button>
    <button *ngIf="viewType === 'refund'" mat-button (click)="refund()">Confirm</button>
    <button mat-button (click)="dialogRef.close()">Close</button>
  </mat-card-actions>
</mat-card>