<div class="settings-page-container">
  <h1>Opperating Settings</h1>
  <form class="settings-form" [formGroup]="timeSpanForm">
    <div class="row-container">

      <mat-form-field style="width:250px;">
        <mat-label>Gap Between</mat-label>
        <input matInput type="number" (keypress)="numericOnly($event)" formControlName="gapBetweenAppointments">
        <mat-hint>Number of hours between appointments</mat-hint>
        <mat-error *ngIf="timeSpanForm.get('gapBetweenAppointments')?.hasError('required')">Gap Between is
          required.</mat-error>
        <mat-error *ngIf="timeSpanForm.get('gapBetweenAppointments')?.hasError('min')">Gap Between should be a positive
          number.</mat-error>
      </mat-form-field>

      <mat-form-field style="width:250px;">
        <mat-label>Months Ahead</mat-label>
        <input matInput type="number" (keypress)="numericOnly($event)" formControlName="bookMonthsAheadLimit">
        <mat-hint>Number of months in advance the customer can book</mat-hint>
        <mat-error *ngIf="timeSpanForm.get('bookMonthsAheadLimit')?.hasError('required')">Months Ahead is
          required.</mat-error>
        <mat-error *ngIf="timeSpanForm.get('bookMonthsAheadLimit')?.hasError('min')">Months Ahead should be a positive
          number.</mat-error>
      </mat-form-field>
    </div>
  </form>
  <form class="settings-form" [formGroup]="openingHoursForm">
    <div class="opening-hours-container" formArrayName="openingTimes">
      <div *ngFor="let dayControl of openingTimes.controls; let i = index" [formGroupName]="i">
        <mat-checkbox formControlName="checked">{{dayControl.value.dayName}}</mat-checkbox>
        <mat-form-field>
          <mat-label>From</mat-label>
          <input type="text" matInput formControlName="from" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTime">
            <mat-option *ngFor="let option of filteredFromTimeOptions[i]  | async" [value]="option">
              {{option.label}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <mat-form-field>
          <mat-label>To</mat-label>
          <input type="text" matInput formControlName="to" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTime">
            <mat-option *ngFor="let option of filteredToTimeOptions[i]  | async" [value]="option">
              {{option.label}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <mat-error *ngIf="dayControl.hasError('timeInvalid')">Invalid time</mat-error>

      </div>

    </div>
  </form>
  <button mat-raised-button color="primary" type="submit">Save</button>
</div>