.service-settings-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .services-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    row-gap: 5px;
    align-items: center;
  }
}
